<div class="col-xs-8">
  <h1><%= @recipe.name %></h1>
  <% if @recipe.notes.present? %>
    <h3><strong>Description</strong></h3>
    <% if @recipe.notes && @recipe.notes.match(/http/) %>
      <p><%= link_to @recipe.notes, @recipe.notes %></p>
    <% else %>
      <p><%= @recipe.notes %></p>
    <% end %>
  <% end %>
</div>


<div class="col-xs-6 recipe-actions">
<hr />
  <%= link_to 'Random Recipe', random_recipe_path, class: "btn btn-warning" %>
  <%= link_to 'All Recipes', recipes_path, class: 'btn btn-primary' %>
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-success' %>
</div>

