<div class="row recipes-container">
  <h1 class="col-xs-12">Listing recipes</h1>

  <div class="col-xs-12">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="recipes-table-body">
        <% @recipes.each do |recipe| %>
          <tr>
            <% if recipe.notes && recipe.notes.match(/http/) %>
              <td><%= link_to recipe.name, recipe.notes %></td>
            <% else %>
              <td><%= recipe.name %></td>
            <% end %>
            <td><%= link_to 'Show', recipe %></td>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr />
  <hr />

  <div class="col-xs-6 recipe-actions">
    <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-success' %>
    <%= link_to 'Random Recipe', random_recipe_path, class: 'btn btn-warning' %>
  </div>
</div>
