<!DOCTYPE html>
<html>
<head>
  <title>RandomRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if flash.present? %>
    <div>
      <% flash.each do |type, msg| %>
        <p class="alert alert-success"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
